{
  "version": 6,
  "cmakeMinimumRequired": {
    "major": 3,
    "minor": 23,
    "patch": 0
  },
  "configurePresets": [
    {
      "name": "base",
      "hidden": true,
      "binaryDir": "${sourceDir}/build",
      "cacheVariables": {
        "CMAKE_EXPORT_COMPILE_COMMANDS": "ON",
        "BUILD_SHARED_LIBS": "ON",
        "CPP_PJ_USE_VCPKG": "ON",
        "CPP_PJ_VCPKG_ROOT": "$env{HOME}/vcpkg"
      },
      "toolchainFile": "$env{HOME}/vcpkg/scripts/buildsystems/vcpkg.cmake"
    },
    {
      "name": "release",
      "displayName": "Release",
      "inherits": "base"
    },
    {
      "name": "debug",
      "displayName": "Debug",
      "inherits": "base",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug"
      }
    },
    {
      "name": "release-static",
      "displayName": "Release (static libs)",
      "inherits": "release",
      "cacheVariables": {
        "BUILD_SHARED_LIBS": "OFF"
      }
    },
    {
      "name": "debug-static",
      "displayName": "Debug (static libs)",
      "inherits": "debug",
      "cacheVariables": {
        "BUILD_SHARED_LIBS": "OFF"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "release",
      "configurePreset": "release"
    },
    {
      "name": "debug",
      "configurePreset": "debug"
    },
    {
      "name": "release-static",
      "configurePreset": "release-static"
    },
    {
      "name": "debug-static",
      "configurePreset": "debug-static"
    }
  ],
  "testPresets": [
    {
      "name": "release",
      "configurePreset": "release",
      "output": {
        "outputOnFailure": true
      }
    },
    {
      "name": "debug",
      "configurePreset": "debug",
      "output": {
        "outputOnFailure": true
      }
    },
    {
      "name": "release-static",
      "configurePreset": "release-static",
      "output": {
        "outputOnFailure": true
      }
    },
    {
      "name": "debug-static",
      "configurePreset": "debug-static",
      "output": {
        "outputOnFailure": true
      }
    }
  ]
}
