#include "<project-name>/core/foo.hpp"

namespace <PROJECT_NAME_UPPER>_NS::core {

Greeter::Greeter(std::string name) : name_(std::move(name)) {}

std::string Greeter::greet() const {
    return "Hello, " + name_ + "!";
}

}  // namespace <PROJECT_NAME_UPPER>_NS::core
