#include <gtest/gtest.h>

#include "<project-name>/core/foo.hpp"

// Tests for the `core` module.
TEST(Core, Greeter) {
    <PROJECT_NAME_UPPER>_NS::core::Greeter greeter("world");
    EXPECT_EQ(greeter.greet(), "Hello, world!");
}
