{
  "name": "<project-name-dashed>",
  "version": "0.1.0",
  "builtin-baseline": "fa8cecf91d7f31a1715a7a6524f208897ffb33ce",
  "dependencies": [
    "cli11",
    { "name": "gtest", "version>=": "1.14.0" }
  ]
}
